.background-projects {
    height: 56rem;
    background-image: url('../img/background-habilidades.png');
    margin-bottom: -55rem;
    position: relative;
    z-index: -1;
    opacity: 0.5;
}

.skills {
    list-style: none;
    right: 40px;
}